.container-1 {
    height: 1.5em;
}

.container-1 ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.container-1 li {
    margin-right: 2em;
}

.container-3 {
    padding: 0;
}

.carousel-item img {
    height: 30vh;
    object-fit: cover;
    filter: opacity(0.6);
}

.container-4 {
    padding: 2vh 0;
}

.container-5 {
    padding: 5vh 0;
}

.figure-caption {
    position: relative;
    bottom: 2rem;
    left: 1rem;
    padding: 2px;
}

.container-6 figure:hover .figure-caption {
    left: 0rem;
}

.container-6 img:hover {
    filter: opacity(0.6);
}

.container-7 {
    padding: 5vh 0;
}

.container-8 {
    padding: 2vh 5rem;
}

.container-8 a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

a:hover {

    text-shadow: 2px 2px 5px darkorange;

}

.container-8 i {
    font-size: 25px;
}

.container-9 {
    line-height: 0.5;
    padding: 1vh 0;
}